// run a minimal test
// use as follows: nextflow main.nf -profile test,docker

params {

    // set input data (i.e. restrict to test exposures)
    params.exposure_input_dir  = "./tests/data/exposures"
    params.outcome_input_data  = "./tests/data/output_file.tsv.gz"

    // set CI/local cpus, memory, time
    max_memory                 = '6.GB'
    max_cpus                   = 5
    max_time                   = '3.h'

    // other parameters
    params.plink_memory_gb = 3
}
