// run a minimal test
// nextflow main.nf -profile test,docker

params {

    // exposure settings - specify column names and file location
    exposure {
        input_dir              = "$baseDir/tests/data/exposures"
        data_format            = ".txt.gz"
        snp_col                = "RSID"
        beta_col               = "BETA"
        se_col                 = "SE"
        eaf_col                = "FREQ1"
        effect_allele_col      = "EFFECT_ALLELE"
        other_allele_col       = "REFERENCE_ALLELE"
        pval_col               = "PVAL"
        samplesize_col         = "N"
        chr_col                = "CHR"
        pos_col                = "POS"
    }

    // outcome settings - specify column names and file location (and potentially sample size)
    outcome {
        input_data             = "$baseDir/tests/data/COVID19_HGI_A2_ALL_leave_23andme_20210607.b37.txt.gz"
        data_format            = ".txt.gz"
        chr_col                = "#CHR"
        pos_col                = "POS"
        snp_col                = "rsid"
        beta_col               = "all_inv_var_meta_beta"
        se_col                 = "all_inv_var_meta_sebeta"
        eaf_col                = "all_meta_AF"
        effect_allele_col      = "REF"
        other_allele_col       = "ALT"
        pval_col               = "all_inv_var_meta_p"
        samplesize_col         = "all_inv_var_meta_effective"
    }

    // set CI/local cpus, memory, time
    max_memory                 = '10.GB'
    max_cpus                   = 1
    max_time                   = '1.h'

    // other parameters
    params.plink_memory_gb = 3
}
