// run a minimal test
// nextflow main.nf -profile test,docker

params {

    // set input data (i.e. restrict to test exposures)
    params.exposure_input_dir  = "$baseDir/tests/data/exposures"
    params.outcome_input_data  = "$baseDir/tests/data/COVID19_HGI_A2_ALL_leave_23andme_20210607.b37.txt.gz"

    data_format {
        exposure = ".txt.gz"
        outcome = ".txt.gz"
    }

    // set CI/local cpus, memory, time
    max_memory                 = '6.GB'
    max_cpus                   = 5
    max_time                   = '3.h'

    // other parameters
    params.plink_memory_gb = 3
}
