// base config file
// relatively simple general use config file

process {

    cpus   = { check_max( 1     * task.attempt, 'cpus'   ) }
    memory = { check_max( 1.GB  * task.attempt, 'memory' ) }
    time   = { check_max( 10.m  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // label-based configurations

    withLabel:get_gwas_data {  // load data w/ fread - 
        cpus   = { check_max( 1     * task.attempt, 'cpus'   )  }  // fread can use multiple cpus but is this effective?
        memory = { check_max( 3.GB  * task.attempt, 'memory'  ) }  // requires memory based on full gwas file size
        time   = { check_max( 1.h   * task.attempt, 'time'    ) }  // requires time for processing large dataframes
    }
    withLabel:run_mr {  // uses small harmonised variant dataset but requires memory for plink
        cpus   = 1                                                 // process only effectively uses 1 cpu?
        memory = { check_max( 3.GB  * task.attempt, 'memory'  ) }  // requires memory for plink & harmonised variants
        time   = { check_max( 1.h   * task.attempt, 'time'    ) }  // requires time for processing LD matrix etc.
    }

    // error strategy
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}
