// base config file
// relatively simple general use config file

process {

    cpus   = { check_max( 1     * task.attempt, 'cpus'   ) }
    memory = { check_max( 1.GB  * task.attempt, 'memory' ) }
    time   = { check_max( 10.m  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // label-based configurations
    withLabel:plink_short {  // load data w/ fread - 
        cpus   = 1                                                 // fread can use multiple cpus but is this effective?
        memory = { check_max( 4.GB  * task.attempt, 'memory'  ) }  // requires memory based on full gwas file size
        time   = { check_max( 15.m   * task.attempt, 'time'    ) } // requires time for processing large dataframes
    }
    withLabel:plink_long {  // load data w/ fread - 
        cpus   = 1                                                 // only one required
        memory = { check_max( 8.GB  * task.attempt, 'memory'  ) }  // has to make and store LD matrices
        time   = { check_max( 30.m   * task.attempt, 'time'    ) } // takes time to run susie
    }
    withLabel:run_mr {  // uses small harmonised variant dataset but requires memory for plink
        cpus   = 1                                                 // process only effectively uses 1 cpu?
        memory = { check_max( 10.GB  * task.attempt, 'memory'  ) } // requires memory for plink & harmonised variants
        time   = { check_max( 30.m   * task.attempt, 'time'    ) } // requires time for processing LD matrix etc.
    }

    // error strategy
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}
