// module specific parameters
// don't want to hide parameters in individual scripts so can put here
// publish_dir - where to publish results
// args - arguments sent to tool in module

params {
    modules {
        'get_variants' {
            publish_dir     = false
        }
        'plot_mr' {
            publish_dir     = 'results/mr_results'
        }
    }
}
